* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


 
 body {
	/* font-size: 18px;
	 line-height: 1.25;
	 font-weight: 400;
	 font-family: Tahoma, Verdana, Arial, sans-serif;
	 */
	 
	 font: 400 18px/1.25 Tahoma, Verdana, Arial, sans-serif ;
	 
 }
 
 input {
	 outline: none;
 }
 
 
img {
	 border-bottom: 10px;
	 max-width: 85%;
	 height: auto;
 }

 
table {
	 border-collapse: collapse ;
	 }
 table, th, td { 
	 border: 1px solid black;
 }
 

 
.wrapper {
	 overflow: hidden;
 }


ul li {
    list-style-type: none;
 }
.container {
	 max-width: 1500px;
	 padding: 0 15px;
	 margin: 0 auto;
	 
 }
 
.container .content .main-content {
	display: flex;
}
.header-top {
	 background: #FF8C00;
	 padding: 5px 0;
  
 }
 
.header-top a {
	 color: #fff;
	 
 }
 
.header-top ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-top li + li {
	margin-left: 26px;
}
 .header-middle {
	 padding: 20px 0;
 }

.logo img {
	max-width:120px;
    margin-right: 20px;
	margin: 0 0 15px;
	direction: block;
	align-items: left;
	 
 }
 
.search-form {
	 width: 211px;
	 display: inline-flex; 
	 border-radius: 3px solid black;
	 border: 5px;
 }

.sidebar img {
	width: 320px;
	margin: 0 0 10px 0;
	display: flex;
	padding: 0;
	border-bottom: 1px solid black;
	
	

}	 

.sidebar {
	margin: -28px;
	padding: 67px;
    width: 320px;
	height: 20px;
    float: left;
	flex-shrink: 0;
	
}



.header-middle .container {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	
 }
 
 
input[type="search"] { 
     min-width: 20px;
	 border: 5px solid #2F4F4F;
}
input[type="submit"]{
	 display: inline-block;
	 padding: 5px;
	 background: #FFD700;
	 cursor: pointer;
	 border-radius: 3px;
	 border: 5px solid #2F4F4F;
 } 
.navigation {
	 border-top: 1px solid #000;
	 border-bottom: 1px solid #000;
 }
 
.navigation .menu {
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 
 }

.navigation a {
	
	display: inline-block;
	padding: 10px;
	color: black;
	text-transform: uppercase;
	transition : 0.5s;
}

 
.navigation a:hover{
	color:#FF00FF
	
	
}

.mobile-menu img {
	width: 40px;
	
}

.mobile-menu {
	display: none;
	cursor: pointer;
	line-height: 0;
}


   
.title-26 {
	padding: 7px;
	margin: 10px;
	
	
}

aside ul li {
  padding: 6px;
  float: center;
  border-bottom: 1px dashed black;
}
	

a {
	display: block;
	text-align:center;
	
}

h1{
	padding:10px;
}

h2{
	padding:10px;
}


.content: {
	display: flex;
}
.main-content{
	flex-grow: 1;
	padding: 10px 0 0 10px;
}

.product-top {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 30px;
}

.product-image {
	
	flex-basis: 40%;
	border: 2px solid #000;
}

.product-main {
	flex-basis: 60%;
	padding: 0 0 0 20px;
	
}

.product-name {
	font-size: 26px;
	margin: 0 0 20px;
}

.product-price{
	color: #f00;
	font-size: 28px;
	margin: 0 0 15px;
}

.product-color{
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 15px;
} 

.product-color li {
	margin: 0 10px 10px 0;
	
}

.product-color input[type="radio"] {
   display: none;
}

.product-color label {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	border: 1px solid #f5f5f5;
	cursor: pointer;
	}

.red {
	background: #f00;
}

.green {
	background: green;
}

.black{
	background: black;
}

.blue{
	background: blue;
}


input[type="radio"]:checked + label {
	box-shadow: 0 0 8px 3px rgba(255, 0, 0, 0.5);
	border-color: rgba(255, 0, 0, 0.5);
	}

.button {
	background: #000;
	border: 1px solid #000;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: top;
	padding: 7px 25px;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s;
	
}

.button:hover {
	background: #fff;
	color: #000;
}

.title-18 {
	font-size: 18px;
	font-weight: 700;
	margin: 14px 0 15px;
	text-transform: uppercase;
}

.product-description {
	margin: 0 0 15px;
}

.product-description table {
	border: none;
	width: 100%;
}

.product-description td {
	padding: 5px 10px;
	border: none;
}

.product-description td: first-child{
	font-weight: 700;
}

.product-description tr:nth-child(odd){
	background: #ccc;
}
.promo {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.promo-box {
	width: calc(33.3% - 20px);
	background: #FF6347;
	color: white;
	font-size: 24px;
	text-transform: uppercase;
	padding: 20px;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.footer {
	border-top: 1px solid #000;
}

.footer-top {
	padding: 40px 15px;
	display: flex;
	justify-content: space-between;
}

.footer-column {
	width: calc(33.3% - 80px);
	flex-grow: 1;
}

.footer-column:last-child {
	width: 40%;
	flex-shrink: 0;
	text-align: right;
}

.footer-column a {
	color: #000;
	transition: .3s;
}

.footer-column a:hover {
	text-decoration: underline;
}

.footer-column li {
	padding: 10px 0;
}

.footer-title {
	font-size:22px;
	text-transform: uppercase;
	margin: 0 0 2px;
}

.footer-bottom {
	background: #FF8C00;
	color: #fff;
}

.socials li {
	margin: 0 0 15px 15px;
	
}

.socials {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.socials img {
	width: 48px;
	filter: grayscale(0);
	transition: .3s;
}

.socials img:hover {
	filter: grayscale(0);
	transform: scale(1.2);
}

.footer-column {
	text-align: center;
	padding: 10px;
	margin: 5px;
}



@media (max-width: 768px) {
	.mobile-menu {
		display: block;
		
	}
	
	.navigation .container {
			 text-align: center;
			 padding: 5px 15px;
		 
	 }
	 
	 .navigation {
		 position: relative;
	 }
	 
	 .navigation .menu {
		 position: absolute;
		 width: 100%;
		 display: block;
		 padding: 20px 0;
		 max-height: 100px;
		 overflow-y: auto;
		 left: 0;
		 background: grey;
		 box-shadow: 0 12px 8px 1px rgba(0,0,0, 0.3);
		 top: 100%;
		 z-index: 10;
	 }
	 
	 .navigation a {
		 display: block;
		 padding: 10px 15px;
		 text-align: center;
		 text-decoration: none;
		 }
	
}

@media (max-width: 576px) {
	.header-top a {
		font-size: 14px;
	}
	.header-top li+ li{
		margin-left: 15px;
	}

    .header-middle .container {
		flex-direction: column;
	}
	
}


@media (max-width: 556px) {
	.container {
		display: flex;
		flex-direction: column-reverse;
	}

	.product-top {
		width:100%
	}

	.sidebar{
		width: 100%;
		margin: :0;
		padding: 0;
		height: 0;
	}
	.header-top a {
		font-size: 14px;
	}
	.header-top li + li{
		margin-top: 15px;

	}

	.header-middle .container{
		flex-direction: column;
	}

}
/*
@media (max-width: 576px) {
	.product-image {
		 text-align: center;
	}
}

.footer {
		flex-direction: column;
		order: 1;
	}

	/*
